$color-btn: #e34c25;
.header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #e9ebcf;
    border-bottom: 10px solid rgba($color: #9b3e3e, $alpha: 1);

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 30px;
        font-weight: 800;
        letter-spacing: 8px;
        color: #9b3e3e;
    }

    h3 {
        font-size: 24px;
        margin-right: 20px;
        letter-spacing: 4px;
        color: #333;
    }

    img {
        width: 40px;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
            color: red;
        }
    }
}
.container {
    position: relative;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.content-left {
    position: relative;
    width: 100%;
    height: 500px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    img {
        // position: absolute;
        width: 100%;
        height: auto;
        inset: 0;
    }

    :hover {
        cursor: pointer;
    }

    .slide-3 {
        position: absolute;
        width: 400px;
        padding: 10px;
        height: 300px;
        top: calc(50% - 100px);
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #acb6e5; /* fallback for old browsers */
        background: -webkit-linear-gradient(
            to right,
            rgb(56, 189, 248),
            rgb(103, 232, 249)
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to right,
            rgb(56, 189, 248),
            rgb(103, 232, 249)
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        border-radius: 6px;

        h3 {
            margin: 30px 0 10px 0;
            font-size: 24px;
            font-weight: 600;
        }

        .button {
            width: 160px;
            height: 40px;
            background-color: rgb(101, 69, 230);
            color: #fff;
            border-radius: 6px;
            margin-bottom: 30px;
            margin-top: 10px;
        }

        .icon {
            margin-right: 10px;
        }

        .input-name {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;

            .btn {
                position: absolute;
                right: 30px;
                width: 100px;
                height: 40px;
                margin: 10px 0 30px 20px;
                background-color: rgb(60, 180, 34);
                color: #fff;
                border-radius: 6px;
                justify-content: center;
                align-items: center;
                display: flex;
                opacity: 0;
                transition: all ease 0.3s;
            }

            input {
                position: absolute;
                padding: 8px 20px;
                margin-bottom: 20px;
                border-radius: 6px;
            }
            input:focus {
                border: 2px solid #4777e8;
                left: 30px;
            }

            input:focus ~ .btn {
                opacity: 1;
            }
        }
    }
}

.content-right {
    width: 100%;
    margin-top: 100px;

    .img {
        width: 600px;
    }

    h2 {
        width: max-content;
        font-size: 20px;
        margin-left: 20px;
        padding: 20px;
        color: white;
        border-bottom: 1px solid #fff;
    }
}

.timestamp {
    position: absolute;
    left: 200px;
    top: 100px;
    font-size: 20px;
    color: white;

    h3 {
        letter-spacing: 2px;
    }
}
