@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-blue: #0e78f9;
    --primary-text: #dfdfe1;
    --primary-dark: #212534;
    --primary--pink: #ea4c89;
    // Default Layout
    --default-height-header: 60px;
    --default-width: 1150px;
    --text-color: #333;
    --theme-dark: #1c1f2e;
    --theme-light: #fff;
    --text-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--theme-dark);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
