
.user-item {
    position: relative;
    width: 240px;
    height: 135px;
    border-radius: 16px;
    background-color: aquamarine;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }

    .avatar {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .name {
        position: absolute;
        font-size: 16px;
        padding: 2px 4px;
        border-radius: 4px;
        background-color: rgba($color: #333, $alpha: .3);
        color: var(--text-color);
        left: 6px;
        top: 6px;
        text-align: center;
        text-shadow: 2px 2px 4px #698b74;
        z-index: 10;
    }

    .video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .tool {
        position: absolute;
        bottom: 3px;
        width: 60px;
        left: calc(50% - 30px);
        display: flex;
        justify-content: space-around;

        &:hover {
            cursor: pointer;
        }
    }

    .btn {
        width: 30px;
        height: 30px;
        font-size: 14px;
        color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: .5);
        background-color: rgb(67, 70, 244);
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgb(67, 70, 244);
        }

    }
}
.active {
    background-color: #fff !important;
    color:  var(--theme-dark) !important;
}