.user-item {
    position: relative;
    width: 240px;
    height: 135px;
    border-radius: 16px;
    background-color: aquamarine;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }

    .avatar {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .name {
        position: absolute;
        font-size: 16px;
        padding: 2px 4px;
        border-radius: 4px;
        background-color: rgba($color: #333, $alpha: 0.3);
        color: var(--text-color);
        left: 6px;
        top: 6px;
        text-align: center;
        text-shadow: 2px 2px 4px #698b74;
        z-index: 10;
    }

    .video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .tool {
        position: absolute;
        bottom: 3px;
        width: 80px;
        right: 5px;
        display: flex;
        justify-content: space-around;
        z-index: 20;

        &:hover {
            cursor: pointer;
        }
    }

    .btn {
        width: 30px;
        height: 30px;
        font-size: 14px;
        color: #333;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.3s;

        &:hover {
            background-color: #d73084;
            color: #fff;
        }
    }

    .frame-image {
        position: absolute;
        inset: 0;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        h1 {
            position: absolute;
            bottom: 5px;
            padding: 3px 15px;
            margin-top: 20px;
            font-size: 16px;
            color: #fff;
        }
    }

    .frame-name {
        position: absolute;
        width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .frame-avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid red;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
.active {
    background-color: #d73084 !important;
    color: #fff !important;
}
