.wrapper {
    width: 100%;
    height: 100%;
}

.close-meeting {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.mid-content {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress {
    position: fixed;
    inset: 50%;
}

.footer {
    .mid {
        height: 120px;
        border-radius: 6px;
        // display: flex;
    }
}

.list-video-frame {
    display: flex;
    flex-wrap: wrap;
}

.id-meeting {
    position: fixed;
    height: 30px;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        background-color: rgba($color: #fff, $alpha: 0.1);
    }

    .icon-saved {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        color: #fff;
        background-color: #76a1ec;
        border-radius: 4px;
        font-size: 30p;
        transition: all ease 0.2s;

        &:hover {
            cursor: pointer;
            background-color: rgb(71, 74, 222);
        }
    }
}

.say-hi {
    position: fixed;
    left: 20px;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 100;
    animation: fadeIn ease 2s;

    img {
        animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s; /* Change to speed up or slow down */
        animation-iteration-count: infinite; /* Never stop waving :) */
        transform-origin: 70% 70%;
    }
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    } 
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}


@keyframes fadeIn {
    from{
        opacity: 0;
        left: -100px;
    }to{
        opacity: 1;
        left: 20px;
    }
}